<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <% Permissions::SCOPES.each do |scope| %>
    <%= f.check_box field.attribute, { multiple: true }, scope, false %>
    <%= scope %>
  <% end %>
</div>
