<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <% method = "all_#{field.attribute}" %>
  <% all = f.object.class.respond_to?(method) ? f.object.class.public_send(method) : [] %>
  <% all.each do |scope| %>
    <%= f.check_box field.attribute, { multiple: true }, scope.to_s, false %>
    <%= scope %>
  <% end %>
</div>
