<p>
  Hi <%= @specialist.account.first_name %>,
</p>
<p>
  Congratulations on scheduling your first consultation!
</p>
<p>
  A lot has changed at Advisable in the last few months, so we highly recommend jumping on a 30-minute preparation call with us, before your consultation.
</p>
<p>
  We're here to help you be successful, and during the call, we'll share necessary information about our policies, best practices, and how to get the most from the platform.
</p>
<p>
  Feel free to <a href="https://calendly.com/d/cgv-h97-pdd/prep-call-with-advisable">grab a time on my calendar</a>.
</p>
<p>
  I'm looking forward to chatting with you!
</p>
<p>
  Best,<br>
  <%= @sales_person.first_name %>
</p>
