<p>
  Hi <%= @specialist.account.first_name %>,
</p>
<p>
  I realized this is your first consultation call with an Advisable's client!
</p>
<p>
  Do you want to jump on a call with me for 30 mins to prepare quickly before your chat with <%= @user.account.first_name %>?
</p>
<p>
  In this call, I'd like to share you with all the necessary information regarding our policy and best practices that got our freelancers success.
</p>
<p>
TOMMY: WE NEED THE CALENDAR LINK SOMEHOW?
ALSO THIS ENTIRE COPY IS REAL BAD 😬
  If you are interested, please grab a time on my calendar here.
</p>
<p>
  Looking forwards to chatting with you.
</p>
<p>
  Best,<br>
  <%= @sales_person.first_name %>
</p>
