<p>
  Hi <%= @specialist.account.first_name %>,
</p>
<p>
  Congratulations on scheduling your first consultation!
</p>
<p>
  To help you be successful, we offer everyone a 30-minute preparation call before their first call to share all the necessary information about our policies and best practices.
</p>
<p>
  If you are interested, please <a href="<%= @sales_person.calendly_url %>">grab a time on my calendar</a>.
</p>
<p>
  I am looking forward to chatting with you!
</p>
<p>
  Best,<br>
  <%= @sales_person.first_name %>
</p>
