<p>
  Hi <%= @interview.specialist.first_name %>,
</p>
<p>
  Unfortunately, <%= @interview.user.first_name %> needs to reschedule your interview for <%= @interview.starts_at.to_formatted_s(:short) %>. 
</p>
<p>
  Please select a new time that works best for you. Once you select a time, we’ll send new invitations.
</p>
<p>
  { link to "/interview_request/[interview.uid]" }
</p>
<p>
  Apologies for any inconvenience and we appreciate your flexibility!
</p>
<p>
  Best,<br>
  <%= @interview.user.sales_person.name %>
</p>
