.topics-bar {
  position: relative;

  .scroll-container {
    overflow-x: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &::before,
  &::after {
    top: 0;
    content: "";
    width: 80px;
    height: 100%;
    position: absolute;
    transform: scaleX(0);
    transition: transform 300ms;
  }

  &::before {
    left: 0;
    transform-origin: left center;
    background: linear-gradient(90deg, #f8f8f9 0%, rgba(248, 248, 249, 0) 100%);
  }

  &::after {
    right: 0;
    transform-origin: right center;
    background: linear-gradient(
      270deg,
      #f8f8f9 0%,
      rgba(248, 248, 249, 0) 100%
    );
  }

  &.topics-bar--scroll-left::before,
  &.topics-bar--scroll-right::after {
    transform: scaleX(1);
  }
}

.topic {
  width: 40px;
  height: 80px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  flex-direction: column;
  --stroke: var(--color-blue-700);
  --fill: var(--color-blue-50);

  .topic-icon {
    width: 40px;
    height: 40px;
    display: grid;
    flex-shrink: 0;
    background: white;
    border-radius: 50%;
    margin-bottom: 8px;
    place-items: center;
    box-shadow: 0 1px 4px rgb(0 0 0 / 12%);
  }

  .topic-label {
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    color: theme("colors.neutral.500");
  }

  &:hover {
    --stroke: var(--color-neutral-900);
    --fill: var(--color-blue-50);

    .topic-label {
      color: theme("colors.neutral.900");
    }
  }

  &.active {
    --stroke: white;
    --fill: rgba(255, 255, 255, 0.32);

    .topic-icon {
      background: theme("colors.blue600");
    }

    .topic-label {
      font-weight: 500;
      color: theme("colors.blue.700");
    }
  }
}
