Welcome <%= @user.first_name %>,
<br />
Please confirm your account using the link below.
<br />
<a href="<%= "#{root_url}confirm_account/#{@token}?#{{ email: @user.email }.to_param }" %>">Confirm</a>