<p>
  Hi <%= @user.account.first_name %>,
</p>
<p>
  Your teammate <%= @manager.account.first_name %> has invited you to join Advisable.
</p>
<p>
  We know you're <strong>excited</strong> to start using Advisable so all you have to do now is to <a href="<%= magic_link(@user.account, password_link_goes_here_thomas(@user)) %>"><strong>set a password</strong></a>.
</p>
<p>
  If the above link does not work for you we recommend you get a new email client. But until then you can get around it by copy/pasting this in your browser:
  <br><%= magic_link(@user.account, password_link_goes_here_thomas(@user)) %>
</p>
<p>
  We're looking forward to having you on board!
</p>
