<p>
  Hi <%= @user.account.first_name %>,
</p>
<p>
  Your teammate <%= @manager.account.first_name %> has invited you to join Advisable.
</p>
<p>
  We know you're <strong>excited</strong> to start using Advisable so all you have to do now is to <a href="<%= magic_link(@user.account, set_password_url) %>"><strong>set a password</strong></a>.
</p>
<p>
  We're looking forward to having you on board!
</p>
