To reset your password click the link below:
<br />

<a href="<%= "#{root_url}reset_password/#{@token}/?#{{email: @user.email}.to_param}" %>">Reset Password</a>

<br />
This link will expire in two hours.

<br />
If you did not request your password to be reset, please ignore this email and
your password will stay as it is.