<div id="articles" class="shadow overflow-hidden border-b border-gray-200 sm:rounded-sm">
  <table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-50">
      <tr>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" scope="col">Title</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" scope="col">Specialist</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" scope="col">Actions</th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      <% articles.each do |article| %>
        <%= render "admin/articles/article", article: article %>
      <% end %>
    </tbody>
  </table>
  <%= render partial: "admin/shared/pagination", locals: {pagy: pagy} %>
</div>
