<div class="space-y-28">
  <% article.sections.by_position.each do |section| %>
    <section>
      <h3 class="text-lg font-medium leading-6 text-gray-900"><%= section.type.capitalize %></h3>
      <hr class="my-4" />
      <%= render "section", section: section %>
    </section>
  <% end %>
</div>
