<div class="space-y-6 mt-6">
  <% article.sections.by_position.each do |section| %>
    <div class="bg-white shadow px-4 py-5 sm:rounded-md sm:p-6">
      <div class="md:grid md:grid-cols-3 md:gap-6">
        <div class="md:col-span-1">
          <h3 class="text-lg font-medium leading-6 text-gray-900"><%= section.type.capitalize %></h3>
          <p class="mt-1 text-sm text-gray-500">Contents from the <%= section.type.capitalize %> section</p>
        </div>
        <div class="mt-5 md:mt-0 md:col-span-2">
          <div class="grid grid-cols-6 gap-6">
            <div class="col-span-6">
              <%= render "section", section: section %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
