<turbo-frame id="<%= dom_id(section) %>">
  <div data-controller="sortable" data-sortable-handle-value=".handle">
    <% section.contents.by_position.each do |content| %>
      <%= render "admin/contents/base", content: content %>
    <% end %>
    <%= render "admin/contents/new", section: section %>
  </div>
</turbo-frame>
