<div class="flex relative">
  <main class="flex-1 sm:px-6 lg:px-8">
    <div class="max-w-[760px] mx-auto py-12">
      <%= render "basic", article: @article %>
      <%= render "insights", article: @article %>
      <%= render "sections", article: @article %>
    </div>
  </main>
  <%= render "sidebar", article: @article %>
</div>
