.toby-header-button {
  height: 32px;
  border: none;
  color: #464340;
  font-size: 15px;
  appearance: none;
  background: #f4f3f3;
  border-radius: 12px;
  display: inline-flex;
  align-items: center;
  padding: 0 12px;
  font-weight: 450;
  font-family: TTHoves, sans-serif;
  margin-left: 8px;

  &:hover:not(:disabled) {
    cursor: pointer;
    color: #101114;
    background: #f1f1f0;
  }

  &:disabled {
    opacity: 0.5;
  }

  svg {
    margin-right: 6px;
  }

  span {
    margin-top: -1px;
    align-items: center;
    display: inline-flex;
  }
}

.toby-header-button-group {
  .toby-header-button {
    margin-left: 1px;
    border-radius: 0;

    &:first-child {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }

    &:last-child {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
}

.toby-copy-button {
  border: none;
  background: white;
  border-radius: 8px;
  color: var(--color-neutral800);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.toby-row {
  @apply flex border-b border-solid border-neutral-200 hover:cursor-pointer hover:bg-neutral-50;
}

.toby-cell {
  height: 40px;
  display: flex;
  padding: 0 8px;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  align-items: center;
  border-right: 1px solid var(--color-neutral-200);
  @apply font-inter text-sm;

  .toby-copy-button {
    right: 8px;
    z-index: 2;
    display: none;
    position: absolute;
  }

  &:hover .toby-copy-button {
    display: block;
  }
}
