<h1><%= @job[:company] %>, <%= @job[:name] %></h1>

<% @candidates.each do |candidate| %>
  <div>
    <strong><%= candidate[:name] %></strong>
    <br />
    <span><%= candidate[:location] %></span>
  </div>
    <br />
<% end %>
