<div data-controller="inline-editing" data-inline-editing-edit-url-value="<%= edit_admin_content_path(content) %>">
  <turbo-frame id="<%= dom_id(content) %>" data-inline-editing-target="turboFrame" data-sortable-update-url="<%= move_admin_content_path(content) %>">
    <div class="group flex relative">
      <div class="absolute handle top-0 -left-10 text-gray-900 mr-1">
        <div class="hidden group-hover:flex pt-1 h-16 w-10 justify-center cursor-move">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-neutral-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </div>
      </div>
      <div class="w-full">
        <%= render "admin/contents/#{content.class.name.demodulize.underscore}", content: content %>
      </div>
    </div>
  </turbo-frame>
</div>
