<turbo-frame id="<%= dom_id(content) %>" data-sortable-update-url="<%= move_admin_content_path(content) %>">
  <div class="flex">
    <div class="text-gray-900 mr-1">
      <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-900 handle h-6 w-6 cursor-move" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </div>
    <div class="w-full">
      <%= render "admin/contents/#{content.class.name.demodulize.underscore}", content: content %>
    </div>
  </div>
</turbo-frame>
