<turbo-frame id="<%= dom_id(content) %>" data-sortable-update-url="<%= move_admin_content_path(content) %>">
  <div class="group flex relative">
    <div class="w-full">
      <%= render "admin/contents/#{content.class.name.demodulize.underscore}_form", content: content %>
    </div>
  </div>
</turbo-frame>
