<div class="mb-12">
  <div class="ring-2 ring-transparent group-hover:ring-neutral-300 relative" data-action="click->inline-editing#edit">
    <div class="hidden group-hover:flex absolute top-0 right-0 justify-between p-2 gap-2">
        <%= link_to "Edit", edit_admin_content_path(content), class: "px-2 py-1 border border-transparent text-xs font-medium rounded shadow-sm text-white bg-amber-500 hover:bg-amber-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-amber-400" %>
        <%= link_to "Remove", admin_content_path(content), class: "px-2 py-1 border border-transparent text-xs font-medium rounded shadow-sm text-white bg-red-500 hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-400", data: {turbo_method: "delete", turbo_confirm: "Are you sure?"} %>
    </div>

    <p class="text-neutral-800">
      <%= sanitize(content.content["text"]).gsub("\n", "<br>").html_safe %>
    </p>
  </div>
</div>
