p Hi #{@sales_person.name},
p We just got a report from #{@report.user.account.name} that #{@specialist.account.name} has been unresponsive on #{link_to(@project.name, admin_project_skill_url(@project), target: "_blank")}.
p We can see from the chat logs that #{@specialist.account.first_name} sent the last message #{time_ago_in_words(@report.last_message_at)} ago.
p This is what #{@report.user.account.first_name} said:
= simple_format(@report.message)
p Please reach out to #{link_to(@specialist.account.name, admin_specialist_url(@specialist), target: "_blank")}.
p Kthxbye,<br>AdvisaBot
