<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <%= f.hidden_field "#{field.attribute}[]" , value: '' %>
  <% field.available_tutorials.each do |tutorial| %>
    <%= f.check_box field.attribute, { multiple: true }, tutorial , false %>
    <%= tutorial %>
    <br />
  <% end %>
</div>
