<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  When status changes to
  <% field.data.each do |c| %>
    <%=
      hidden_field_tag 'webhook_configuration[criteria[][attribute]]',
      "status"
    %>
    <%=
      hidden_field_tag 'webhook_configuration[criteria[][operator]]',
      "changes_to"
    %>
    <%=
      text_field_tag 'webhook_configuration[criteria[][value]]', c["value"]
    %>
  <% end %>
</div>
