= render 'account_mailer/messages/user_message', message: message do
  div style="margin-bottom: 8px; margin-top: 8px; font-size: 16px; line-height: 16px; color: #120F0C; font-family: arial; padding: 10px; border: 2px solid #E2E2E4; border-radius: 12px;"
    | #{message.author.first_name} requested a call
