.onboarding {
  --header-size: 80px;
}

.onboarding_heading {
  height: var(--header-size);
}

.onboarding_content {
  min-height: calc(100% - var(--header-size));
}

.onboarding_interests {
  width: 100%;
  position: relative;
  overflow-y: scroll;
  height: calc(100vh - var(--header-size) - 28px);

  &:before,
  &:after {
    content: "";
    width: 100%;
    z-index: 2;
    height: 60px;
    pointer-events: none;
    position: absolute;
  }

  &:before {
    top: 0;
    opacity: 0;
    transition: opacity 100ms;
    background: linear-gradient(hsla(240, 9%, 97%, 1), hsla(240, 9%, 97%, 0));
  }

  &:after {
    bottom: 0;
    background: linear-gradient(hsla(240, 9%, 97%, 0), hsla(240, 9%, 97%, 1));
  }

  &[data-top="false"]::before {
    opacity: 1;
  }
}
