---
http_interactions:
- request:
    method: put
    uri: https://api.talkjs.com/v1/~TALKJS_APP_ID~/users/s+talkjs@advisable.com
    body:
      encoding: UTF-8
      string: '{"name":"Specialist","email":["sherell@graham.com"]}'
    headers:
      Authorization:
      - Bearer ~BEARER_TOKEN~
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 18 Jun 2020 17:32:51 GMT
- request:
    method: put
    uri: https://api.talkjs.com/v1/~TALKJS_APP_ID~/users/u+talkjs@advisable.com
    body:
      encoding: UTF-8
      string: '{"name":"User","email":["belinda@skiles.co"]}'
    headers:
      Authorization:
      - Bearer ~BEARER_TOKEN~
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 18 Jun 2020 17:32:51 GMT
- request:
    method: put
    uri: https://api.talkjs.com/v1/~TALKJS_APP_ID~/users/sp+talkjs@advisable.com
    body:
      encoding: UTF-8
      string: '{"name":"Seller","email":["ingeborg.kemmer@romaguera-spinka.biz"]}'
    headers:
      Authorization:
      - Bearer ~BEARER_TOKEN~
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 18 Jun 2020 17:32:51 GMT
- request:
    method: put
    uri: https://api.talkjs.com/v1/~TALKJS_APP_ID~/conversations/i+talkjs@advisable.com
    body:
      encoding: UTF-8
      string: "{\"participants\":[\"s+talkjs@advisable.com\",\"u+talkjs@advisable.com\",\"sp+talkjs@advisable.com\"],\"subject\":\"User
        \U0001F44B Specialist\"}"
    headers:
      Authorization:
      - Bearer ~BEARER_TOKEN~
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 18 Jun 2020 17:32:51 GMT
- request:
    method: post
    uri: https://api.talkjs.com/v1/~TALKJS_APP_ID~/conversations/i+talkjs@advisable.com/messages
    body:
      encoding: UTF-8
      string: '[{"text":"Hi User \u0026 Specialist\n\nYou should have received invitations
        to your scheduled call a few minutes go.\n\nI''m introducing you to one another
        ahead of this call in case there''s any\nrelevant information you need to
        exchange in advance or afterwards.\n\nPlease use this as the main thread for
        all communications before and after your\ncall. To message, you can either
        reply to this via email or you can log into\nour app for live chat with one
        another if that''s easier.\n\nIn the meantime, if either of you have any questions,
        please let me know.\n\nBest,\nSales\n","sender":"sp+talkjs@advisable.com","type":"UserMessage"}]'
    headers:
      Authorization:
      - Bearer ~BEARER_TOKEN~
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 18 Jun 2020 17:32:52 GMT
recorded_with: VCR 6.0.0
