---
http_interactions:
- request:
    method: put
    uri: https://api.talkjs.com/v1/~TALKJS_APP_ID~/users/s+talkjs@advisable.com
    body:
      encoding: UTF-8
      string: '{"name":"Winston","email":["cornell.kuvalis@jaskolski.io"]}'
    headers:
      Authorization:
      - Bearer ~BEARER_TOKEN~
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 16 Jun 2020 20:11:42 GMT
- request:
    method: put
    uri: https://api.talkjs.com/v1/~TALKJS_APP_ID~/users/u+talkjs@advisable.com
    body:
      encoding: UTF-8
      string: '{"name":"Drema","email":["weldon@reichert.info"]}'
    headers:
      Authorization:
      - Bearer ~BEARER_TOKEN~
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 16 Jun 2020 20:11:42 GMT
- request:
    method: put
    uri: https://api.talkjs.com/v1/~TALKJS_APP_ID~/users/sp+talkjs@advisable.com
    body:
      encoding: UTF-8
      string: '{"name":"Arthur","email":["ezekiel.green@rohan.name"]}'
    headers:
      Authorization:
      - Bearer ~BEARER_TOKEN~
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 16 Jun 2020 20:11:42 GMT
- request:
    method: put
    uri: https://api.talkjs.com/v1/~TALKJS_APP_ID~/conversations/i+talkjs@advisable.com
    body:
      encoding: UTF-8
      string: "{\"participants\":[\"s+talkjs@advisable.com\",\"u+talkjs@advisable.com\",\"sp+talkjs@advisable.com\"],\"subject\":\"Drema
        \U0001F44B Winston\"}"
    headers:
      Authorization:
      - Bearer ~BEARER_TOKEN~
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 16 Jun 2020 20:11:42 GMT
- request:
    method: post
    uri: https://api.talkjs.com/v1/~TALKJS_APP_ID~/conversations/i+talkjs@advisable.com/messages
    body:
      encoding: UTF-8
      string: '[{"text":"Hi there...","type":"SystemMessage"}]'
    headers:
      Authorization:
      - Bearer ~BEARER_TOKEN~
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 16 Jun 2020 20:11:43 GMT
recorded_with: VCR 6.0.0
