@font-face {
  font-family: "TTHoves";
  font-weight: 400;
  src: url("./fonts/TTHoves-Regular/font.woff2") format("woff2"),
    url("./fonts/TTHoves-Regular/font.woff") format("woff");
}

@font-face {
  font-family: "TTHoves";
  font-weight: 500;
  src: url("./fonts/TTHoves-Medium/font.woff2") format("woff2"),
    url("./fonts/TTHoves-Medium/font.woff") format("woff");
}
