<div id='js-modal-root'></div>
<div id="guildData" data-upcoming-events="<%= Event.upcoming.size %>">
<%= stylesheet_pack_tag "guild" %>
<%= javascript_packs_with_chunks_tag "guild" %>
<%= render "noscript" %>
