<div id='js-modal-root'></div>
<%= javascript_include_tag "frontend", defer: true, type: "module" %>

<% if flash.any? %>
  <script>
    window.flash = JSON.parse('<%== flash.to_hash.to_json %>')
  </script>
<% end %>

<%= render "noscript" %>
